{{define "content"}}
<h2>Image detail</h2>
<div>
    <button id="remove">REMOVE</button>
</div>
<div class="mt-2">
    <div class="flex gap-1">
        <div class="w-200">Id:</div><div>{{.ID}}</div>
    </div>
    <div class="flex gap-1">
        <div class="w-200">Repo Tags:</div><div>{{.RepoTags}}</div>
    </div>
    <div class="flex gap-1">
        <div class="w-200">Created:</div><div>{{.Created}}</div>
    </div>
    <div class="flex gap-1">
        <div class="w-200">Size:</div><div>{{.Size}} bytes</div>
    </div>
    <div class="flex gap-1">
        <div class="w-200">Virtual Size:</div><div>{{.VirtualSize}} bytes</div>
    </div>
    <div class="flex gap-1">
        <div class="w-200">OS:</div><div>{{.Os}}</div>
    </div>
    <div class="flex gap-1">
        <div class="w-200">Architecture:</div><div>{{.Architecture}}</div>
    </div>
</div>
{{end}}

{{define "scripts"}}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("remove").addEventListener("click", function() {
            fetch("/api/image/remove/{{.ID}}", {
                method: "DELETE"
            });

            setTimeout(function() {
                window.location = "/images";
            }, 100);
        });
    });
</script>
{{end}}
