{{define "content"}}
<h2>Container {{.Name}}</h2>
<div class="hidden" id="buttons">
    <button id="start">START</button>
    <button id="stop">STOP</button>
    <button id="remove">REMOVE</button>
</div>
<div id="status" class="mt-1 border">CHECKING STATUS</div>
<div class="mt-2">
    <h3>Details</h3>
    <div class="flex gap-1">
        <div class="w-200">Id:</div><div>{{.Container.ID}}</div>
    </div>
    <div class="flex gap-1">
        <div class="w-200">Name:</div><div>{{.Container.Name}}</div>
    </div>
    <div class="flex gap-1">
        <div class="w-200">Created:</div><div>{{.Container.Created}}</div>
    </div>
    <div class="flex gap-1">
        <div class="w-200">Image:</div><div>{{.Container.Image}}</div>
    </div>
    <div class="flex gap-1">
        <div class="w-200">Args:</div><div>{{.Container.Args}}</div>
    </div>
    <div class="flex gap-1">
        <div class="w-200">Platform:</div><div>{{.Container.Platform}}</div>
    </div>
    <div class="flex gap-1">
        <div class="w-200">Driver:</div><div>{{.Container.Driver}}</div>
    </div>
    <div class="flex gap-1">
        <div class="w-200">Networks:</div>
        <div>
            {{range $k, $v := .NetworkSettings.Networks}}
            <a href="/networks/{{$v.NetworkID}}">{{$k}}</a>
            {{end}}
        </div>
    </div>
    <div class="mt-2">
        <a href="/containers/{{.Container.ID}}/logs">View Logs</a> | 
        <a href="/containers/{{.Container.ID}}/stats">View Stats</a>
    </div>
</div>
{{end}}

{{define "scripts"}}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const remove = document.getElementById("remove");
        const start = document.getElementById("start");
        const stop = document.getElementById("stop");

        remove.addEventListener("click", function() {
            fetch("/api/container/remove/{{.Container.ID}}")
                .then(response => response.json())
                .then(data => {
                    remove.innerHTML = "REMOVING...";
                    remove.disabled = true;

                    setTimeout(function() {
                        window.location.href = "/containers";
                    }, 1000)
                });
        });

        start.addEventListener("click", function() {
            fetch("/api/container/start/{{.Container.ID}}")
                .then(response => response.json())
                .then(data => {
                    start.innerHTML = "STARTING...";
                    start.disabled = true;
                });
        })

        stop.addEventListener("click", function() {
            fetch("/api/container/stop/{{.Container.ID}}")
                .then(response => response.json())
                .then(data => {
                    stop.innerHTML = "STOPPING...";
                    stop.disabled = true;
                });
        })
        
        const socket = new WebSocket("ws://{{.Url}}/api/container/status/{{.Container.ID}}")

        socket.onopen = function () {
            console.log("Connected!");
        }

        socket.onmessage = function (event) {
            const parsedData = JSON.parse(event.data);
            const statusElement = document.getElementById("status");
            const status = parsedData.State.Running ? "RUNNING" : "STOPPED";

            document.getElementById("buttons").classList.remove("hidden");

            if (status === "RUNNING") {
                start.classList.add("hidden");
                start.innerHTML = "START";
                start.disabled = false;
                stop.classList.remove("hidden");
            } else {
                start.classList.remove("hidden");
                stop.innerHTML = "STOP";
                stop.disabled = false;
                stop.classList.add("hidden");
            }

            statusElement.innerHTML = status;
        }
    });
</script>
{{end}}
