{{define "content"}}
<h2>Container logs</h2>
<div id="logs">LOADING LOGS</div>
{{end}}

{{define "scripts"}}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const logs = document.getElementById("logs");
        const socket = new WebSocket("ws://localhost:8080/api/container/logs/{{.}}")

        socket.onopen = function () {
            console.log("Connected!");
        }

        socket.onmessage = function (event) {
            const parsedData = JSON.parse(event.data);

            if (typeof parsedData !== "undefined" && parsedData !== null) {
                logs.innerHTML = parsedData.join("<br/>");
            } else {
                logs.innerHTML = 'NO DATA AVAILABLE';
            }
        }
    });
</script>
{{end}}
