{{define "content"}}
<h2>Logs - <a href="/containers/{{.Container.ID}}">{{.Container.Name}}</a></h2>
<small>for last 24 hours</small>
<div id="logs" class="mt-1">LOADING LOGS</div>
{{end}}

{{define "scripts"}}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const logs = document.getElementById("logs");
        const socket = new WebSocket(`ws://{{.Url}}/api/container/logs/{{.Container.ID}}`);

        socket.onopen = function () {
            console.log("Connected!");
        }

        socket.onmessage = function (event) {
            const parsedData = JSON.parse(event.data);

            if (typeof parsedData !== "undefined" && parsedData !== null) {
                logs.innerHTML = parsedData.join("<br/>");
            } else {
                logs.innerHTML = 'NO DATA AVAILABLE';
            }
        }
    });
</script>
{{end}}
