{{define "content"}}
<h2>Container logs</h2>
<div id="logs"></div>
{{end}}

{{define "scripts"}}
<script>
    document.addEventListener("DOMContentLoaded", function(){
        const logs = document.getElementById("logs");

        function fetchLogs() {
            fetch({{.}})
                .then(response => response.json())
                .then(data => {
                    let html = '';

                    data.forEach(log => {
                        log = log.replace(/[\u{0080}-\u{10FFFF}]/gu, "");
                        html += `<p>${log}</p>`;
                    })

                    logs.innerHTML = html;
                });
        }

        fetchLogs();

        setInterval(function() {
            fetchLogs();
        }, 2000)
    });
</script>
{{end}}
