{{define "content"}}
<h2>Stats - <a href="/containers/{{.Container.ID}}">{{.Container.Name}}</a></h2>
<div class="stats-wrapper">
    <canvas id="stats-cpu"></canvas>
    <canvas id="stats-mem"></canvas>
</div>
{{end}}

{{define "scripts"}}
<script src="/assets/chart.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const socket = new WebSocket(`ws://{{.Url}}/api/container/stats/{{.Container.ID}}`);

        socket.onopen = function () {
            console.log("Connected!");
        }

        const cpuData = [
            { time: 0, usage: 0.00 },
        ];

        const memData = [
            { time: 0, usage: 0.00 },
        ];

        const cpuCtx = document.getElementById("stats-cpu").getContext('2d');
        cpuCtx.canvas.width = 1000;
        cpuCtx.canvas.height = 500;

        const cpuChart = new Chart(cpuCtx, {
            type: 'line',
            data: {
                labels: cpuData.map(row => row.time),
                datasets: [{
                    label: 'CPU usage %',
                    data: cpuData.map(row => row.usage),
                }]
            },
            options: {
                animation: false,
                layout: {
                    padding: 20,
                }
            },
        });

        const memCtx = document.getElementById("stats-mem").getContext('2d');
        memCtx.canvas.width = 1000;
        memCtx.canvas.height = 500;

        const memChart = new Chart(memCtx, {
            type: 'line',
            data: {
                labels: memData.map(row => row.time),
                datasets: [{
                    label: 'MEM usage %',
                    data: memData.map(row => row.usage),
                    borderColor: 'red',
                    backgroundColor: 'pink',
                }]
            },
            options: {
                animation: false,
                layout: {
                    padding: 20,
                }
            },
        });

        Chart.defaults.color = '#FFFFFF';

        socket.onmessage = function (event) {
            const parsedData = JSON.parse(event.data);

            for (let [key, value] of Object.entries(parsedData)) {
                value = JSON.parse(value);

                if (cpuChart.data.labels.length > 10) {
                    cpuChart.data.labels.shift();
                    cpuChart.data.datasets.forEach((dataset) => dataset.data.shift());
                }

                cpuChart.data.labels.push(new Date(value.read).toLocaleTimeString());
                cpuChart.data.datasets.forEach((dataset) => {
                    const cpuDelta = value.cpu_stats.cpu_usage.total_usage - value.precpu_stats.cpu_usage.total_usage;
                    const systemCpuDelta = value.cpu_stats.system_cpu_usage - value.precpu_stats.system_cpu_usage;
                    const cpuNumber = value.cpu_stats.online_cpus;
                    const usage = (cpuDelta / systemCpuDelta * cpuNumber * 100).toFixed(2);

                    dataset.data.push(usage)});

                cpuChart.update();

                if (memChart.data.labels.length > 10) {
                    memChart.data.labels.shift();
                    memChart.data.datasets.forEach((dataset) => dataset.data.shift());
                }

                memChart.data.labels.push(new Date(value.read).toLocaleTimeString());
                memChart.data.datasets.forEach((dataset) => {
                    const usedMemory = value.memory_stats.usage;
                    const availMemory = value.memory_stats.limit;
                    const usage = ((usedMemory / availMemory) * 100).toFixed(2);

                    dataset.data.push(usage)});

                memChart.update();
            }
        }

    });
</script>
{{end}}
