{{define "content"}}
<h2>Stats - <a href="/containers/{{.Container.ID}}">{{.Container.Name}}</a></h2>
<div class="stats-wrapper">
    <canvas id="stats-chart"></canvas>
</div>
{{end}}

{{define "scripts"}}
<script src="/assets/chart.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const socket = new WebSocket(`ws://{{.Url}}/api/container/stats/{{.Container.ID}}`);

        socket.onopen = function () {
            console.log("Connected!");
        }

        const data = [
            { time: 0, usage: 0 },
        ];
        const ctx = document.getElementById("stats-chart").getContext('2d');
        ctx.canvas.width = 1000;
        ctx.canvas.height = 500;

        const chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: data.map(row => row.time),
                datasets: [{
                    label: 'Cpu usage',
                    data: data.map(row => row.usage),
                }]
            }
        });

        socket.onmessage = function (event) {
            const parsedData = JSON.parse(event.data);

            for (let [key, value] of Object.entries(parsedData)) {
                value = JSON.parse(value);

                if (chart.data.labels.length > 10) {
                    chart.data.labels.shift();
                    chart.data.datasets.forEach((dataset) => dataset.data.shift());
                }

                chart.data.labels.push(value.read);
                chart.data.datasets.forEach((dataset) => {
                    const usage = value.cpu_stats.cpu_usage.total_usage/value.cpu_stats.system_cpu_usage; 
                    dataset.data.push(usage*100)});

                chart.update();
            }
        }

    });
</script>
{{end}}
