:root {
    --green: #48c9b0;
    --green-dark: #398677;
    --red: #e74c3c;
    --red-dark: #c0392b;
    --orange: #ff894c; 
    --orange-dark: #bb5d2c;
    --blue: #7dace4;
    --blue-dark: #5f8dbf;
    --lightgray: #4F4F4F;
    --gray: #3D3D3D;
}
@font-face {
    font-family: "Fragment Mono";
    src: url('/assets/FragmentMono.woff2');
}
html {
    font-family: "Fragment Mono";
}
body {
    background-color: #333333;
    color: white;
}
a {
    color: lightgray;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button {
    background-color: var(--lightgray);
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 7px;
    padding: 10px;
}
button:hover {
    background-color: var(--gray);
    cursor: pointer;
}
.border {
    border: 2px solid var(--lightgray);
    border-radius: 7px;
    padding: 5px;
}
.container {
    display: flex;
    padding: 20px;
    flex-direction: row;
}
.content {
    padding-left: 4rem;
    width: 100%;
}
.flex {
    display: flex;
}
.gap-1 {
    gap: 1rem;
}
.menu {
    min-width: 200px;
    text-align: center;

    .item {
        display: block;
        width: 100%;
        background-color: #4F4F4F;
        margin: 5px 0px;
        padding: 10px;
        border: 0px;
        border-radius: 7px;
        color: white;
    }
    .item:hover {
        background-color: #3D3D3D;
    }
}
.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;

    .item {
        display: block;
        width: 30%;
        border: 2px solid #4F4F4F;
        padding: 10px;
        border-radius: 7px;
        color: white;
    }
    .item:hover {
        background-color: #3D3D3D;
    }
    .title {
        font-size: 1.2rem;
    }
    .running {
        color: var(--green);
        font-weight: bold;
    }
    .stopped {
        color: var(--red);
        font-weight: bold;
    }
}
.w-200 {
    min-width: 200px !important;
}
.hidden {
    display: none;
}
.mt-05 {
    margin-top: 0.5rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.-mt-1 {
    margin-top: -1rem;
}
#logs {
    font-weight: bold;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    width: 100%;
    height: 500px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}
#start {
    background-color: var(--green);
}
#stop {
    background-color: var(--red);
}
#restart {
    background-color: var(--orange);
}
#down {
    background-color: var(--blue);
}
#start:hover {
    background-color: var(--green-dark);
}
#stop:hover {
    background-color: var(--red-dark);
}
#restart:hover {
    background-color: var(--orange-dark);
}
#down:hover {
    background-color: var(--blue-dark);
}
