{{define "content"}}
<h2>Volume</h2>
<p>
    Name: {{.Name}}<br/>
    Driver: {{.Driver}}<br/>
    Mountpoint: {{.Mountpoint}}<br/>
</p>
<div>
    <button id="remove">REMOVE</button>
</div>
{{end}}

{{define "scripts"}}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const remove = document.getElementById("remove");
        remove.addEventListener("click", function() {
            fetch("/api/volume/remove/{{.Name}}")
                .then(response => response.json())
                .then(data => {
                    remove.innerHTML = "REMOVING...";
                    remove.disabled = true;

                    setTimeout(function() {
                        window.location.href = "/volumes";
                    }, 1000)
                });
        });
    });
</script>
{{end}}
