{{define "content"}}
<h2>Project {{.Name}}</h2>
<p>
    Name: {{.Name}}<br/>
    Hash: {{.Hash}}<br/>
    File: {{.File}}<br/>
    Workdir: {{.Workdir}}<br/>
    <button id="start">START</button><br/>
    <button id="stop">STOP</button><br/>
    <button id="restart">RESTART</button><br/>
    <button id="down">DOWN</button><br/>
    <div id="status">CHECKING STATUS</div>
</p>
{{end}}

{{define "scripts"}}
<script>
    const statusElement = document.getElementById("status");
    let status = 'STOPPED';

    document.addEventListener("DOMContentLoaded", function() {
        setInterval(() => {
            fetch("/api/project/status/{{.Name}}")
                .then(response => response.json())
                .then(data => {
                    if (data.length === 0 && status === 'STOPPING') {
                        status = 'STOPPED';
                    }

                    statusElement.innerHTML = "STATUS: " + status;

                    if (data.length > 0 && status !== 'STOPPING') {
                        statusElement.innerHTML = "";

                        data.forEach(function(line) {
                            statusElement.innerHTML += `<a href='/containers/${line.ID}'>${line.Name}</a>: `; 
                            statusElement.innerHTML += line.Status + "<br/>";
                        });
                    } 
                })
        }, 2000);

        const start = document.getElementById("start");
        start.addEventListener("click", function() {
            fetch("/api/project/start/{{.Name}}")
                .then(response => response.json())
                .then(data => {
                    status = 'STARTING';
                });
        });

        const stop = document.getElementById("stop");
        stop.addEventListener("click", function() {
            fetch("/api/project/stop/{{.Name}}")
                .then(response => response.json())
                .then(data => {
                    status = 'STOPPING';
                });
        });

        const restart = document.getElementById("restart");
        restart.addEventListener("click", function() {
            fetch("/api/project/restart/{{.Name}}")
                .then(response => response.json())
                .then(data => {
                    status = 'RESTARTING';
                });
        });
    });
</script>
{{end}}
