{{define "content"}}
<h2>Project {{.Name}}</h2>
<p>
    Name: {{.Name}}<br/>
    Hash: {{.Hash}}<br/>
    File: {{.File}}<br/>
    Workdir: {{.Workdir}}<br/>
    <button id="start">START</button><br/>
</p>
{{end}}

{{define "scripts"}}
<script>
    document.addEventListener("DOMContentLoaded", function(){
        const start = document.getElementById("start");
        start.addEventListener("click", function(){
            fetch("/api/project/start/{{.Name}}")
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                });
        });
    });
</script>
{{end}}
